header {
    background-color: brown;
    color: white;
    padding: 6px;
    display: flex;
}

header h1 {
    font-weight: bolder;
    align-self: flex-start;
    margin-right: auto;
}

header a {
    align-self: flex-end;
    color: white;
    font-size: 16px;
    text: underline;
    padding: 8px
}


main {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    box-sizing: border-box;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    row-gap: 12px;
}